<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="son.funkydj3.smartemeter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".etc.Class_Font"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name=".achartengine.ChartYear"
            android:label="@string/title_activity_chart_year"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".achartengine.ChartMonth"
            android:label="@string/title_activity_chart_month"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".achartengine.ChartDay"
            android:label="@string/title_activity_chart_day"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".achartengine.Chart"
            android:label="@string/title_activity_chart"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".option.Option"
            android:label="@string/title_activity_option" >
        </activity>
        <activity
            android:name=".BluetoothChat.BluetoothChat"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BluetoothChat.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".BluetoothChat.Loading"
            android:label="@string/title_activity_loading"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".gauge.Guage"
            android:label="@string/title_activity_guage" >
        </activity>
        <activity
            android:name=".saving.Saving"
            android:label="@string/title_activity_saving" >
        </activity>
        <activity
            android:name=".gauge.GaugeView"
            android:label="@string/title_activity_gauge_view" >
        </activity>
        <activity
            android:name="son.funkydj3.smartemeter.gauge.GaugeActivity"
            android:label="@string/title_activity_gauge" >
        </activity>
    </application>

</manifest>